<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Crave For It!</title>
	<!-- stylesheets (google fonts + bootstrap)-->
	<link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
</head>

<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #ea907a;">
		<!-- <div class="container"> -->
		<a class="navbar-brand" href="#index.html"></a>
		<img width="150" height="150" src="logo.png">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
		  	</button>
		    <div class="collapse navbar-collapse" id="navbarNav">
				  <ul class="navbar-nav">
           <li class="nav-item active">
            <a class="nav-link" href="#home">Home</a>
           </li>
            <li class="nav-item active">
            <a class="nav-link" href="/finder">Find a Restaurant</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#recs">Food Recommendations</a>
            </li>
           <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
           </li>
          </ul>
      </div>
  </nav>
   <!-- Loops for types of allergens -->
<h1>Here's the database</h1>
<ol>
	{% for rest in restaurants %}
	<li>{{ rest.name }} - {{ rest.allergen }} </li>
	{% endfor %}
    <br>
    <!-- {% for rest in restaurants %}
        {% for all in rest.allergen %}
        {% if all == 'peanut-free'%}
        <li>{{ rest.name }} - {{ rest.allergen }} </li> -->
	    <!-- <li>{{ rest.name }} - {{ rest.allergen }} </li> -->
	    <!-- {% endif %}
        {% endfor %}
    {% endfor %} -->
    {% for rest in restaurants %}
        {% for all in rest.allergen %}
            {% if all == "peanut-free" %}
                    <p> {{ rest.name }} {{rest.street_address}} {{rest.hours}} {{rest.contact}} </p>  
            {% elif all == "shellfish-free" %}
                    <p> {{ rest.name }} {{rest.street_address}} {{rest.hours}} {{rest.contact}} </p>
            {% elif all == "reduced lactose" %}
                    <p> {{ rest.name }} {{rest.street_address}} {{rest.hours}} {{rest.contact}} </p>  
             {% elif all == "soy-free" %}
                    <p> {{ rest.name }} {{rest.street_address}} {{rest.hours}} {{rest.contact}} </p>                       
            {% endif %}       
        {% endfor %}        
	{% endfor %}
    <!-- {% for rest in restaurants %}
        {% for all in rest.dietary_restrict %}
            {% if all == "vegan" %}
                    <p> {{ rest.name }} {{rest.street_address}} {{rest.hours}} {{rest.contact}} </p>  
            {% elif all == "gluten-free" %}
                    <p> {{ rest.name }} {{rest.street_address}} {{rest.hours}} {{rest.contact}} </p>
            {% elif all == "kosher %}
                    <p> {{ rest.name }} {{rest.street_address}} {{rest.hours}} {{rest.contact}} </p>  
            {% endif %}       
        {% endfor %}        
	{% endfor %} -->
    
</ol>
<!-- Dropdowns for user to select allergen -->
<form method="post" action="/getinfo">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="peanut" value="peanut-free">
    <label class="custom-control-label" for="defaultUnchecked">Peanuts</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="defaultChecked" name="shellfish" value=
   "shellfish-free">
    <label class="custom-control-label" for="defaultChecked">Shellfish</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="default" name="soy" value=
   "shellfish-free">
    <label class="custom-control-label" for="default">Soy-Free</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="default1" name="lactose" value="r-lactose">
    <label class="custom-control-label" for="default1">Lactose</label>
  </div>
  <input type="submit" value="Submit">
</form>  
<form method="post" action="/getinfo">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="default2" name="vegan" value="vegan">
    <label class="custom-control-label" for="default2">Vegan</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="default3" name="gluten-free" value=
   "gluten-free">
    <label class="custom-control-label" for="default3">Gluten Free</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="default4" name="kosher" value="kosher">
    <label class="custom-control-label" for="default4">Kosher</label>
  </div>
  <input type="submit" value="Submit">
</form>  
<!-- <h1>Here's the database</h1>
<ol>
    {% for rest in restaurants %}
    <li {{rest}}-{{restaurants[rest]}}>
    {% endfor %}
</ol> -->

<!-- jquery library link/scripts -->
	<script src="jquery-3.4.0.min.js"></script>
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous">
	</script>
	<!-- font awesome -->
	<script src="https://use.fontawesome.com/03f927a7c4.js"></script>
  <!-- Bootstrap 4 scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"
	crossorigin="anonymous"></script>
  <script src="script.js"></script>
</body>